
# Sanity checks
name: "Sanity"
on:
  push:
    branches:
      - 'master'
  pull_request:
    paths-ignore:
      - 'logs/**'
    branches:
      - 'master'

jobs:
  shellcheck:
    name: "shellcheck"
    strategy:
      fail-fast: false
      # Linux runner
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4.1.1
      - name: "Install shellcheck on Ubuntu"
        run: |
          sudo apt update
          sudo apt install shellcheck -y

      - name: "Run shellcheck"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}/
          shellcheck --version
          for f in $(find . \( -path ./.git -o -path ./logs \) -prune -o -type f -print); do
            if file "$f" | grep "shell script" &>/dev/null; then
              shellcheck "$f"
            fi
          done

  pylint:
    name: "Python Linting"
    strategy:
      fail-fast: false
      # Linux runner
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Run pylint"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}/
          make install
          source ./venv
          pylint --version
          for f in $(find . \( -path ./.git -o -path ./iwpt_venv \) -prune -o -type f -print); do
            if file "$f" | grep "Python script" &>/dev/null; then
              pylint "$f"
            fi
          done

  dryrun-iwpt-bot:
    strategy:
      fail-fast: false
      # Linux runner
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Set env"
        run: |
          set -euxo pipefail
          echo "TODAY_ISO8601=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: "Install deps"
        run: |
          set -euxo pipefail
          sudo apt update
          sudo apt install pari-gp

      - name: "Checkout code"
        uses: actions/checkout@v4.1.1
        with:
          submodules: true

      - name: "Dryrun bot"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}/
          make install
          ./iwpt_bot_run.sh
        env:
          IWPT_DRYRUN: '1'
